<div class="row">
    <div class="col mt-5 tabla">
        <div class="container text-center ">
            <table class="w-100 table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre por el que se le conoce</th>
                        <th scope="col">Nombre actual</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of profiles , index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td><ngb-highlight [result]="user.profile"></ngb-highlight></td>
                        <td><ngb-highlight [result]="user.currentProfile"></ngb-highlight></td>
                        <td><ngb-highlight [result]="user.description"></ngb-highlight></td>
                        <td>
                            <div>
                                <button type="button" class="btn btn-light m-3 " (click)="deleteProfile(user.profile)">
                                    Borrar
                                </button>
                                <app-modify-profile [profileToEdit]="user"></app-modify-profile>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>