<div class="row h-25">
    <div class="col bg-secondary text-white bg-dark">
        <div class="row social-icons">
            <div class="col d-flex align-items-center ms-5">Conecta con nosotros en la red social</div>
        </div>
        <div class="container">
            
            <div class="row">
                <div class="col d-flex justify-content-center align-items-center">NOMBRE DEL SOFTWARE</div>
                <div class="col d-flex justify-content-center align-items-center">SOBRE EL PRODUCTO</div>
                <div class="col d-flex justify-content-center align-items-center">LINKS UTILES</div>
                <div class="col d-flex justify-content-center align-items-center">CONTACTO</div>
            </div>
        </div>
        
    </div>
</div>