<div class="row h-25">
    <div class="col bg-secondary text-white bg-dark">
        <div class="row mb-3 bg-secondary">
            <div class="col d-flex justify-content-between align-items-center ms-5 p-3">Conecta con nosotros en la red social
                <div class="d-flex  align-items-center">
                    <img  class="social-icons" src="./../../assets/face.webp" alt="">
                    <img  class="social-icons" src="./../../assets/wasap.png" alt="">
                    <img  class="social-icons" src="./../../assets/insta.webp" alt="">
                    <img  class="social-icons" src="./../../assets/tik.png" alt="">
                </div>
                
            </div>

        </div>
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col d-flex  align-items-center mb-4">NOMBRE DEL SOFTWARE</div>
                    <div class="col d-flex  align-items-center mb-4">SOBRE EL PRODUCTO</div>
                    <div class="col d-flex  align-items-center mb-4">LINKS UTILES</div>
                    <div class="col d-flex  align-items-center mb-4">CONTACTO</div>
                </div>
                <div class="row">

                    <div class="col ">El radar de Skylauncher, para Dark orbit, dara la oportunidad de perseguir todos
                        esos perfiles aunque se cambien el nombre.</div>
                    <div class="col ">Este producto es gratuito en su version Beta, aunque todavia es un proyecto vivo
                        en fase de crecimiento</div>
                    <div class="col "> <a href="https://skylauncher-radar.web.app/">
                            https://skylauncher-radar.web.app/</a></div>
                    <div class="col ">Discord: Raul Lora#6227</div>
                </div>
            </div>


        </div>

    </div>
</div>

