<div class="container error mw-100">
  <div class=" row">
    <div class="col-3 container-fluid  welcome-form registro bg-white rounded shadow-lg fallo p-3 mb-2">
      <div class="row text-center">
        <h1 class="col mt-5 text-danger">
          FAILED TO LOGIN ACCOUNT
        </h1>
      </div>
     
      <div class="row texto text-danger text-center">
        <h5>Email and password are wrong</h5>
      </div>
      <div class="row boton">
        <div class="col p-3">
          <button (click)="navigateToLogin()" class="btn btn-danger p-3  w-100">
            <h5 class="mb-0">LOGIN</h5>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>