<div class="row">
    <div class="col">
        <div class="container">

            <div class="shadow-lg p-3 mb-5 bg-white rounded">

                <ng-template #content let-c="close" let-d="dismiss">  
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Añadir perfil</h4>
                        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
                    </div>
                    <div class="modal-body">

                        <form [formGroup]="profileForm" (ngSubmit)="submitForm(profileForm)">

                            <div class="mb-3 row d-flex justify-content-between">
        
                                <label for="table-filtering-search" class="col-2">Nombre
                                    actual</label>
                                <div class="col-3">
                                    <input formControlName="currentProfile" class="form-control input" type="text" />
                                </div>
        
                                <label for="table-filtering-search" class="col-3">Nombre por el
                                    que se le conoce</label>
                                <div class="col-3">
                                    <input formControlName="profile" class="form-control input" type="text" />
                                </div>
        
                            </div>
        
                            <div class="mb-3 row">
                                <label for="table-filtering-search"
                                    class="col-xs-3 col-sm-auto col-form-label">Descripcion</label>
                                <div class="col-xs-3 col-sm-auto w-100">
                                    <textarea formControlName="description" class="form-control"></textarea>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col text-end">
                                    <button type="submit" class="btn btn-light">Guardar</button>
                                </div>
                            </div>
        
                        </form>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
                    </div>
                </ng-template>
                
                <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

                
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre por el que se le conoce</th>
                        <th scope="col">Nombre actual</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Borrar perfil</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of profiles , index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td><ngb-highlight [result]="user.profile"></ngb-highlight></td>
                        <td><ngb-highlight [result]="user.currentProfile"></ngb-highlight></td>
                        <td><ngb-highlight [result]="user.description"></ngb-highlight></td>
                        <td>
                            <div class="col">
                                <button type="button" class="btn btn-light"
                                    (click)="deleteProfile(user.currentProfile)">Borrar</button>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>