<div class="row h-50">
    <div class="col">
        <div class="container">

            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <form>

                    <div class="mb-3 row d-flex justify-content-between">

                        <label for="table-filtering-search" class="col-2">Nombre
                            actual</label>
                        <div class="col-3">
                            <input id="table-filtering-search" class="form-control" type="text" />
                        </div>

                        <label for="table-filtering-search" class="col-3">Nombre por el
                            que se le conoce</label>
                        <div class="col-3">
                            <input id="table-filtering-search" class="form-control" type="text" />
                        </div>

                    </div>

                    <div class="mb-3 row">
                        <label for="table-filtering-search"
                            class="col-xs-3 col-sm-auto col-form-label">Descripcion</label>
                        <div class="col-xs-3 col-sm-auto w-100">
                            <textarea id="table-filtering-search" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col text-end">
                            <button type="button" class="btn btn-light">Guardar</button>
                        </div>
                    </div>

                </form>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre por el que se le conoce</th>
                        <th scope="col">Nombre actual</th>
                        <th scope="col">Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let country of profiles , index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td><ngb-highlight [result]="country.profile "></ngb-highlight></td>
                        <td><ngb-highlight [result]="country.currentProfile "></ngb-highlight></td>
                        <td><ngb-highlight [result]="country.description "></ngb-highlight></td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>