::ng-deep.modal-dialog{
    position: relative;
    width: 50em;
    max-height: 150px;
    pointer-events: none;
    margin-bottom: 30rem;
}
.image-class{
    width: 40px;
}
.button-class:hover{
    background-color: white;
}