<div class="container session-start mw-100">
  <div class="row">
    <div class="mt-5 col-3 container-fluid  welcome-form registro bg-white rounded shadow-lg p-3 mb-5"  _ngcontent-kit-c39="" bis_skin_checked="1">
      <div _ngcontent-kit-c39="" class="row text-center mt-5" bis_skin_checked="1">
        <h1 _ngcontent-kit-c39="" class="col mt-5 text-primary">
          Inicio de sesión
        </h1>
      </div>
      <form _ngcontent-kit-c39="" novalidate="" class="ng-untouched ng-pristine ng-invalid">
        <div _ngcontent-kit-c39="" class="row" bis_skin_checked="1">
          <div _ngcontent-kit-c39="" class="col" bis_skin_checked="1">
            <p _ngcontent-kit-c39="" class="mt-3 mb-0">
              ‌
              <!----><!----><!---->
            </p>
            <input _ngcontent-kit-c39="" formcontrolname="companyName" type="email" placeholder="E-mail..."
              class="p-3 form-control ng-untouched ng-pristine ng-invalid" />
          </div>
        </div>
        <div _ngcontent-kit-c39="" class="row" bis_skin_checked="1">
          <div _ngcontent-kit-c39="" class="col" bis_skin_checked="1">
            <p _ngcontent-kit-c39="" class="mt-3 mb-0">
              ‌
              <!----><!----><!---->
            </p>
            <input _ngcontent-kit-c39="" formcontrolname="password" type="password" placeholder="Contraseña para Radar..."
              class="p-3 form-control ng-untouched ng-pristine ng-invalid" />
          </div>
        </div>
        <div _ngcontent-kit-c39="" class="row align-self-center mt-1" bis_skin_checked="1">
          <div _ngcontent-kit-c39="" class="col p-4" bis_skin_checked="1">
            <button _ngcontent-kit-c39="" type="submit" class="btn btn-primary rounded-pill w-100">
              Iniciar sesión
            </button>
          </div>
        </div>
      </form>
      <div _ngcontent-kit-c39="" class="row" bis_skin_checked="1">
        <div _ngcontent-kit-c39="" class="col p-3" bis_skin_checked="1">
          <p _ngcontent-kit-c39="" class="mt-3 mb-0">
            <!---->
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center row ">
    <div class=" d-flex justify-content-center col-3  bg-white rounded shadow-lg p-2 mb-5 h4 ">
      <p class="mb-0">No tienes cuenta ?</p>
      <a class="" type="button" routerLink=""> Crear cuenta</a>
    </div>
  </div>
</div>  