.body{
    background-image: url('./../../../assets/login-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.registro{

    height: 450px;
    width: 650px;
    margin-top: 10%;
}
.boton{
    width: 650px;
    height: 75.2px;
}