<div class="body container mw-100">
    <div class=" d-flex justify-content-center row">
        <div class="col-3 bg-white rounded shadow-lg p-2 mb-5 mt-5">
            <app-create-account></app-create-account>
        </div>
    </div>
    <div class=" d-flex justify-content-center row">
        <div class=" d-flex justify-content-center col-3  bg-white rounded shadow-lg p-2 mb-5 h4 ">
            <p class="mb-0">Ya tienes cuenta ?</p>
            <a class="" type="button" routerLink="login">Inicia sesión</a>
          </div>
    </div>
    <!-- <img src="./../../../assets/fondo-login.jpg" alt=""> -->
</div>