.body{
    background-image: url('./../../../assets/fondo-registro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.registro{
    margin-top: 10%;
}