.error{
    background-image: url('./../../../../assets/error.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    height: 100vh;
}
.registro{
    margin-top: 15%;
}
.boton{
    margin-top: 10%;
}
.texto{
    margin-top: 10%;
}
.registro{
    height: 30vh;
}