.success{
    background-image: url('./../../../assets/EXITO.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    height: 100vh;
}
.registro{
    margin-top: 15%;
    height: 450px;
    width: 650px;
}
.boton{
    margin-top: 15%;
}
.texto{
    margin-top: 15%;
}