::ng-deep.modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 90vw;
    --bs-modal-height: 90vh;
    --bs-modal-padding: 1rem;
    --bs-modal-color: ;
    --bs-modal-bg: #fff;
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: 1px;
    --bs-modal-border-radius: .5rem;
    --bs-modal-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    --bs-modal-inner-border-radius: calc(.5rem - 1px);
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-header-border-width: 1px;
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: .5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: 1px;
    z-index: var(--bs-modal-zindex);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    display: flex !important;
    align-items: center;
}

::ng-deep.modal-dialog {
    position: relative;
    width: auto;
    pointer-events: none;
    margin-bottom: 25rem;
}

::ng-deep.modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    padding:20px;
}
.image-class{
    width: 40px;
}
.button-class{
    border:none;
    background: transparent;
    padding: 10px;
}
.button-class:hover{
    opacity: 0.5;
}